@{
    Layout = null;
}

@functions{

    private string MakeNodeCss(SiteMapNode node)
    {
        string css = "";
        if (node.InCurrent)
        {

            css += "open active";
        }
        if (node.IsCurrent)
        {
            css += "active";
        }
        return css;
    }
}

@using Moonlit
@using Moonlit.Mvc;
@using Moonlit.Mvc.Properties
@using Moonlit.Mvc.Url;
@using Scripts = Moonlit.Mvc.Scripts
@using SiteMapNode = Moonlit.Mvc.SitemapNode
@using Styles = Moonlit.Mvc.Styles
@model Moonlit.Mvc.Templates.Template



<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>@Model.Title - @Model.Site.Title</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    @Styles.Current.RenderCss(Url)

    <!-- end: MAIN CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body id="@Model.PageName">
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="/">
                    @Model.Site.Title
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    @if (Tasks.Current != null)
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <i class="clip-list-5"></i>
                                <span class="badge"> @Tasks.Current.Count</span>
                            </a>
                            <ul class="dropdown-menu todo">
                                <li>
                                    <span class="dropdown-menu-title"> @string.Format("你有 {0} 条消息", Tasks.Current.Count)</span>
                                </li>
                                <!-- label-danger label-warning label-info label-success -->
                                <li>
                                    <div class="drop-down-wrapper">
                                        <ul>
                                            @foreach (var task in Tasks.Current.Items)
                                            {
                                                <li>
                                                    @switch (task.Status)
                                                    {
                                                        case TaskStatus.Completed:
                                                            <a class="todo-actions" href="javascript:void(0)">
                                                                <i class="fa fa-check-square-o"></i>
                                                                <span class="desc" style="opacity: 0.25; text-decoration: line-through;">@task.Content</span>
                                                                <span class="label label-danger" style="opacity: 1;">@task.ExpiredTime.ToString("yyyy-MM-dd")</span>
                                                            </a>
                                                            break;
                                                        default:
                                                        <a class="todo-actions" href="javascript:void(0)">
                                                            <i class="fa fa-square-o"></i>
                                                            <span class="desc" style="opacity: 1; text-decoration: none;">@task.Content</span>
                                                            <span class="label label-danger" style="opacity: 1;">@task.ExpiredTime.ToString("yyyy-MM-dd")</span>
                                                        </a>
                                                            break;
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <a href="@Tasks.Current.Url">
                                        所有任务 <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <!-- end: TO-DO DROPDOWN-->
                    <!-- start: NOTIFICATION DROPDOWN -->
                    @if (Notices.Current != null)
                    {
                        <li class="dropdown">

                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <i class="clip-notification-2"></i>
                                <span class="badge"> @Notices.Current.Count</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li>
                                    <span class="dropdown-menu-title"> 你有 @Notices.Current.Count 条通知</span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper">
                                        <ul>

                                            @foreach (var notice in Notices.Current.Items)
                                            {
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="label label-@notice.NoticeType.ToString().ToLower()"><i class="fa fa-comment"></i></span>
                                                        <span class="message">@notice.Content</span>
                                                        <span class="time">@notice.CreationTime</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <a href="@Notices.Current.Url">
                                        所有通知 <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    <!-- end: NOTIFICATION DROPDOWN -->
                    <!-- start: MESSAGE DROPDOWN -->
                    @if (Messages.Current != null)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
                                <i class="clip-bubble-3"></i>
                                <span class="badge"> 9</span>
                            </a>
                            <ul class="dropdown-menu posts">
                                <li>
                                    <span class="dropdown-menu-title"> 你有 @Messages.Current.Count 条消息</span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper">
                                        <ul>
                                            @foreach (var message in Messages.Current.Items)
                                            {
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="clearfix">
                                                            <div class="thread-image">
                                                                <img alt="" src="@message.User.Avatar">
                                                            </div>
                                                            <div class="thread-content">
                                                                <span class="author">@message.User.Name</span>
                                                                <span class="preview">@message.Content.</span>
                                                                <span class="time">@message.CreationTime.GetFriendlyRelativeTime()</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <a href="@Messages.Current.Url">
                                        所有消息 <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <!-- end: MESSAGE DROPDOWN -->
                    <!-- start: USER DROPDOWN -->
                    @if (User != null && User.Identity.IsAuthenticated)
                    {
                        IUser user = User.Identity as IUser;

                        <li class="dropdown current-user">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <img src="@user.Avatar" class="circle-img" alt="">
                                <span class="username">@user.Name</span>
                                <i class="clip-chevron-down"></i>
                            </a>
                            @if (Sitemaps.Current != null && Sitemaps.Current.GetSiteMap("profile") != null)
                            {
                                var siteMapNodeIndex = 0;
                                <ul class="dropdown-menu">

                                    @foreach (var g in Sitemaps.Current.GetSiteMap("profile").VisibleNodes.GroupBy(x => x.Group))
                                    {
                                        if (siteMapNodeIndex != 0)
                                        {
                                            <li class="divider"></li>
                                        }
                                        siteMapNodeIndex++;
                                        foreach (var siteMapNode in g)
                                        {
                                            <li>
                                                <a href="@siteMapNode.Url">
                                                    <i class="clip-user-2"></i>
                                                    &nbsp;@siteMapNode.Text
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </li>
                    }

                    <!-- end: USER DROPDOWN -->
                    <!-- start: PAGE SIDEBAR TOGGLE -->
                    <li>
                        <a class="sb-toggle" href="#"><i class="fa fa-outdent"></i></a>
                    </li>
                    <!-- end: PAGE SIDEBAR TOGGLE -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    @{
        var sitemaps = Sitemaps.Current;
    }
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                @if (sitemaps != null)
                {
                <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu">
                        @foreach (var node in sitemaps.DefaultSiteMap.Nodes)
                        {
                            <li class="@MakeNodeCss(node)">
                                <a href=" javascript:void(0)">
                                    <i class="clip-screen"></i>
                                    <span class="title"> @node.Text </span>
                                    @if (node.VisibleNodes.Any())
                                    {
                                        <i class="icon-arrow"></i>
                                    }
                                    <span class="selected"></span>
                                </a>
                                @if (node.VisibleNodes.Any())
                                {
                                    <ul class="sub-menu">
                                        @foreach (var childNode in node.VisibleNodes)
                                        {
                                            <li class="@(childNode.IsCurrent || childNode.InCurrent ? "active" : "") ">
                                                <a href="@childNode.Url">
                                                    <span class="title"> @childNode.Text </span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }

                    </ul>
                    <!-- end: MAIN NAVIGATION MENU -->
                }
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: STYLE SELECTOR BOX -->
                        <div id="style_selector" class="hidden-xs">
                            <div id="style_selector_container" style="display:none">
                                <div class="style-main-title">
                                    Style Selector
                                </div>
                                <div class="box-title">
                                    Choose Your Layout Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        <select name="layout">
                                            <option value="default">Wide</option>
                                            <option value="boxed">Boxed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Choose Your Header Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        <select name="header">
                                            <option value="fixed">Fixed</option>
                                            <option value="default">Default</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Choose Your Footer Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        <select name="footer">
                                            <option value="default">Default</option>
                                            <option value="fixed">Fixed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Backgrounds for Boxed Version
                                </div>
                                <div class="images boxed-patterns">
                                    <a id="bg_style_1" href="#"><img alt="" src="assets/images/bg.png"></a>
                                    <a id="bg_style_2" href="#"><img alt="" src="assets/images/bg_2.png"></a>
                                    <a id="bg_style_3" href="#"><img alt="" src="assets/images/bg_3.png"></a>
                                    <a id="bg_style_4" href="#"><img alt="" src="assets/images/bg_4.png"></a>
                                    <a id="bg_style_5" href="#"><img alt="" src="assets/images/bg_5.png"></a>
                                </div>
                                <div class="box-title">
                                    5 Predefined Color Schemes
                                </div>
                                <div class="images icons-color">
                                    <a id="light" href="#"><img class="active" alt="" src="assets/images/lightgrey.png"></a>
                                    <a id="dark" href="#"><img alt="" src="assets/images/darkgrey.png"></a>
                                    <a id="black_and_white" href="#"><img alt="" src="assets/images/blackandwhite.png"></a>
                                    <a id="navy" href="#"><img alt="" src="assets/images/navy.png"></a>
                                    <a id="green" href="#"><img alt="" src="assets/images/green.png"></a>
                                </div>
                                <div class="box-title">
                                    Style it with LESS
                                </div>
                                <div class="images">
                                    <div class="form-group">
                                        <label>
                                            Basic
                                        </label>
                                        <input type="text" value="#ffffff" class="color-base">
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #ffffff"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Text
                                        </label>
                                        <input type="text" value="#555555" class="color-text">
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #555555"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Elements
                                        </label>
                                        <input type="text" value="#007AFF" class="color-badge">
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #007AFF"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:25px;line-height:25px; text-align: center">
                                    <a class="clear_style" href="#">
                                        Clear Styles
                                    </a>
                                    <a class="save_style" href="#">
                                        Save Styles
                                    </a>
                                </div>
                            </div>
                            <div class="style-toggle"></div>
                        </div>
                        <!-- end: STYLE SELECTOR BOX -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-home-3"></i>
                                <a href="/">
                                    @MvcCultureTextResources.Get("HomePage")
                                </a>
                            </li>
                            @if (sitemaps != null && sitemaps.Breadcrumb != null)
                            {
                                foreach (var node in sitemaps.Breadcrumb)
                                {
                                    <li class="  ">
                                        @if (node.IsCurrent)
                                        {
                                            @node.Text
                                        }
                                        else
                                        {
                                            <a href="@node.Url">@node.Text</a>
                                        }
                                    </li>
                                }
                            }
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="@MvcCultureTextResources.Get("StartSearch")">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>@Model.Title <small>@Model.Description </small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-12">
                        @{
                            var messageType = "success";
                            var messageIcon = "check-circle";
                            FlashMessage msg = FlashMessage.Current;
                            if (msg != null)
                            {
                                switch (msg.MessageType)
                                {
                                    case FlashMessageType.Message:
                                    case FlashMessageType.Success:
                                        messageType = "success";
                                        messageIcon = "check-circle";
                                        break;
                                    case FlashMessageType.Warning:
                                        messageType = "warning";
                                        messageIcon = "exclamation-triangle";
                                        break;
                                    case FlashMessageType.Error:
                                        messageType = "danger";
                                        messageIcon = "times-circle";
                                        break;
                                }

                                <div class="alert alert-@messageType">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <i class="fa fa-@messageIcon"></i>
                                    @msg.Text
                                </div>
                            }
                        }
                    </div>
                </div>
                @RenderBody()
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2014 &copy; clip-one by cliptheme.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
    <!-- start: RIGHT SIDEBAR -->
    <div id="page-sidebar">
        <a class="sidebar-toggler sb-toggle" href="#"><i class="fa fa-indent"></i></a>
        <div class="sidebar-wrapper">
            <ul class="nav nav-tabs nav-justified" id="sidebar-tab">
                <li class="active">
                    <a href="#users" role="tab" data-toggle="tab"><i class="fa fa-users"></i></a>
                </li>
                <li>
                    <a href="#favorites" role="tab" data-toggle="tab"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                    <a href="#settings" role="tab" data-toggle="tab"><i class="fa fa-gear"></i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="users">
                    <div class="users-list">
                        <h5 class="sidebar-title">On-line</h5>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#">
                                    <i class="fa fa-circle status-online"></i>
                                    <img alt="..." src="assets/images/avatar-2.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nicole Bell</h4>
                                        <span> Content Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="user-label">
                                        <span class="label label-success">3</span>
                                    </div>
                                    <i class="fa fa-circle status-online"></i>
                                    <img alt="..." src="assets/images/avatar-3.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Steven Thompson</h4>
                                        <span> Visual Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <i class="fa fa-circle status-online"></i>
                                    <img alt="..." src="assets/images/avatar-4.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <i class="fa fa-circle status-online"></i>
                                    <img alt="..." src="assets/images/avatar-5.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <h5 class="sidebar-title">Off-line</h5>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-6.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nicole Bell</h4>
                                        <span> Content Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="user-label">
                                        <span class="label label-success">3</span>
                                    </div>
                                    <img alt="..." src="assets/images/avatar-7.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Steven Thompson</h4>
                                        <span> Visual Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-8.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-9.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-10.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-5.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-chat">
                        <div class="sidebar-content">
                            <a class="sidebar-back" href="#"><i class="fa fa-chevron-circle-left"></i> Back</a>
                        </div>
                        <div class="user-chat-form sidebar-content">
                            <div class="input-group">
                                <input type="text" placeholder="Type a message here..." class="form-control">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" type="button">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ol class="discussion sidebar-content">
                            <li class="other">
                                <div class="avatar">
                                    <img src="assets/images/avatar-4.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                    <span class="time"> 51 min </span>
                                </div>
                            </li>
                            <li class="self">
                                <div class="avatar">
                                    <img src="assets/images/avatar-1.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                    <span class="time"> 37 mins </span>
                                </div>
                            </li>
                            <li class="other">
                                <div class="avatar">
                                    <img src="assets/images/avatar-4.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane" id="favorites">
                    <div class="users-list">
                        <h5 class="sidebar-title">Favorites</h5>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-7.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nicole Bell</h4>
                                        <span> Content Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="user-label">
                                        <span class="label label-success">3</span>
                                    </div>
                                    <img alt="..." src="assets/images/avatar-6.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Steven Thompson</h4>
                                        <span> Visual Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-10.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-2.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-4.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="assets/images/avatar-5.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user-chat">
                        <div class="sidebar-content">
                            <a class="sidebar-back" href="#"><i class="fa fa-chevron-circle-left"></i> Back</a>
                        </div>
                        <ol class="discussion sidebar-content">
                            <li class="other">
                                <div class="avatar">
                                    <img src="assets/images/avatar-4.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                    <span class="time"> 51 min </span>
                                </div>
                            </li>
                            <li class="self">
                                <div class="avatar">
                                    <img src="assets/images/avatar-1.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                    <span class="time"> 37 mins </span>
                                </div>
                            </li>
                            <li class="other">
                                <div class="avatar">
                                    <img src="assets/images/avatar-4.jpg" alt="">
                                </div>
                                <div class="messages">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane" id="settings">
                    <h5 class="sidebar-title">General Settings</h5>
                    <ul class="media-list">
                        <li class="media">
                            <div class="checkbox sidebar-content">
                                <label>
                                    <input type="checkbox" value="" class="green" checked="checked">
                                    Enable Notifications
                                </label>
                            </div>
                        </li>
                        <li class="media">
                            <div class="checkbox sidebar-content">
                                <label>
                                    <input type="checkbox" value="" class="green" checked="checked">
                                    Show your E-mail
                                </label>
                            </div>
                        </li>
                        <li class="media">
                            <div class="checkbox sidebar-content">
                                <label>
                                    <input type="checkbox" value="" class="green">
                                    Show Offline Users
                                </label>
                            </div>
                        </li>
                        <li class="media">
                            <div class="checkbox sidebar-content">
                                <label>
                                    <input type="checkbox" value="" class="green" checked="checked">
                                    E-mail Alerts
                                </label>
                            </div>
                        </li>
                        <li class="media">
                            <div class="checkbox sidebar-content">
                                <label>
                                    <input type="checkbox" value="" class="green">
                                    SMS Alerts
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="sidebar-content">
                        <button class="btn btn-success">
                            <i class="icon-settings"></i> Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: RIGHT SIDEBAR -->
    <div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Event Management</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger remove-event no-display">
                        <i class='fa fa-trash-o'></i> Delete Event
                    </button>
                    <button type='submit' class='btn btn-success save-event'>
                        <i class='fa fa-check'></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    @Scripts.Current.RenderScripts(Url)
    
    <script>
        jQuery(document).ready(function () {
            Main.init();
        });

    </script>
    <script>
        var layouts = JSON.parse(window.sessionStorage.layouts || '{}');

        function saveLayout() {
            window.sessionStorage.layouts = JSON.stringify(layouts);
        }
         
        if (!layouts.left) {
            $("body").addClass("navigation-small");
        }
        if (layouts.style) {
            $("#style_selector_container").css("display", "block");
            $(".style-toggle").addClass("open").removeClass("close");
        } else {
            $("#style_selector_container").css("display", "none");
            $(".style-toggle").addClass("close").removeClass("open");
        }

        $(function () {
            $(".navigation-toggler").on("click", function () {
                layouts.left = !$("body").hasClass("navigation-small");
                saveLayout();
            });
            $(".style-toggle").on("click", function () {
                layouts.style = $("#style_selector_container").css("display") === "block";
                saveLayout();
            });
        }); 

    </script>
</body>
</html>