@{
    Layout = "SimpleBox_layout.cshtml";
}



@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Moonlit.Mvc;
@using Moonlit.Mvc.Controls
@using Moonlit.Mvc.Html
@using Moonlit.Mvc.Url;
@using Control = Moonlit.Mvc.Control
@using Scripts = Moonlit.Mvc.Scripts
@using Styles = Moonlit.Mvc.Styles
@model Moonlit.Mvc.Templates.SimpleBoxTemplate
<form method="POST"> 
    <div class="main-login col-sm-4 col-sm-offset-4">
        <div class="logo">
            @Model.Site.Title
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login" style="display: block">
            <h3>@Model.Description</h3>
            @{
                var messageType = "success";
                FlashMessage msg = (FlashMessage) FlashMessage.Current;
                if (msg != null)
                {
                    switch (msg.MessageType)
                    {
                        case FlashMessageType.Message:
                        case FlashMessageType.Success:
                            messageType = "success";
                            break;
                        case FlashMessageType.Warning:
                            messageType = "warning";
                            break;
                        case FlashMessageType.Error:
                            messageType = "danger";
                            break;
                    }
                    <div class="errorHandler alert alert-@messageType no-display">
                        <i class="fa fa-remove-sign"></i> @msg.Text
                    </div>
                }
            }
            @Html.Render(new Form()
            {
                Control = Model.Fields.Combine()
            })
            <div class="form-actions">
                @foreach (Control button in Model.Buttons)
                {
                    @Html.Render(button)
                }
            </div>
            <div class="new-account">
                @Html.Render(Model.Additional)
            </div>
        </div>
        <!-- end: LOGIN BOX -->
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            @Model.Site.CopyRight
        </div>
        <!-- end: COPYRIGHT -->
    </div>
</form>