@model Moonlit.Mvc.Templates.PaginationInfo
<ul class="pagination">
    @if (Model.PageIndex != 1)
    {
        <li><a aria-label="Previous" href="javascript:submit_with_action(this, null, 'pageIndex', 1);"><span aria-hidden="true">&laquo;</span></a></li>
    }
    @if (Model.PageIndex - 4 > 1)
    {
        <li><a href="javascript:submit_with_action(this, null, 'pageIndex', @(Model.PageIndex - 5));">...</a></li>
    }
    @for (int i = Math.Max(Model.PageIndex - 4, 1); i <= Math.Min(Model.PageIndex + 4, Model.PageCount); i++)
    {
        <li class="@(i == Model.PageIndex ? "current" : "")"><a href="javascript:submit_with_action(this, null, 'pageIndex', @i);">@i</a></li>
    }
    @if (Model.PageIndex + 4 < Model.PageCount)
    {
        <li><a href="javascript:submit_with_action(this, null, 'pageIndex', @(Model.PageIndex + 5));">...</a></li>
    }
    @if (Model.PageIndex < Model.PageCount)
    {
        <li><a aria-label="Next" href="javascript:submit_with_action(this, null, 'pageIndex', @(Model.PageIndex + 1));"><span aria-hidden="true">&raquo;</span></a></li>
    }

    <li class="pagination-summary">
        共<i class="blue">@Model.ItemCount</i>条记录，当前显示第&nbsp;<i class="blue">@Model.PageIndex &nbsp;</i>页, 共 <i class="blue">@Model.PageCount</i> 页
    </li>
</ul>

