@{
    Layout = "layout_administration.cshtml";
}
@using Moonlit.Mvc
@using Moonlit.Mvc.Controls
@using Moonlit.Mvc.Html
@using Control = Moonlit.Mvc.Control
@model Moonlit.Mvc.Templates.AdministrationSimpleListTemplate

@using (Html.BeginForm(
     "Index", Html.ViewContext.RouteData.GetRequiredString("controller"),
     FormMethod.Post,
     new { enctype = "multipart/form-data" }
     ))
{
    <div class="row">
        <div class="col-sm-12">
            @Html.Render(new Panel()
            {
                Title = "查询条件",
                IsCollapsable = true,
                IsClosable = false,
                  
                Control = new Form()
                {
                    Type = FormType.Horizontal  ,
                    Control  =  Model.Criteria.Combine()
                } 
            })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group">
                @foreach (Moonlit.Mvc.Control button in Model.GlobalButtons)
                {
                    @Html.Render(button)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Render(Model.GetPager())
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Render(Model.Table)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @foreach (var clickable in Model.RecordButtons)
            {
                var button = (Control) clickable;
                @Html.Render(button)
            }
        </div>
    </div>

}