@using System.Web.Mvc
@using Moonlit.Mvc
@using Moonlit.Mvc.Url
@model Moonlit.Mvc.Controls.CheckBox
@{ 
    Scripts.Current.RegisterScript("plugins:icheck", new Script()
    {
        Src = Url.Asset("clip-one/plugins/iCheck/jquery.icheck.min.js")
    });
}
@functions
{
    IHtmlString Selected(bool isSelected)
    {
        return MvcHtmlString.Create(isSelected ? "checked" : "");
    }
    IHtmlString Enabled(bool isEnabled)
    {
        return MvcHtmlString.Create(isEnabled ? "" : "disabled='disabled'");
    }
}
<label class="checkbox-inline">
    <input type="checkbox" name="@Model.Name" value="@Model.Value" @Selected(Model.Checked) @Enabled(Model.Enabled) class="grey">
    @Model.Text
</label>


