@using System.Web.Mvc
@using Moonlit.Mvc
@using Moonlit.Mvc.Url
@model Moonlit.Mvc.Controls.MultiSelectList
 
@functions
{
    private IHtmlString Selected(bool isSelected)
    {
        return MvcHtmlString.Create(isSelected ? "selected=\"selected\"" : "");
    }


    private string Dsisabled(bool enabled)
    {
        if (enabled)
        {
            return "";
        }
        return "disabled";
    }

}
<select id="@Model.Id" name="@Model.Name" multiple="multiple" class="form-control search-select" @Dsisabled(Model.Enabled)>
    @foreach (var item in Model.Items)
    {
        <option value="@item.Value" @Selected(item.Selected)>@item.Text</option>
    }
</select>

