@using System.Web.Mvc
@using Moonlit.Mvc
@using Moonlit.Mvc.Url
@model Moonlit.Mvc.Controls.SelectList
@{
    Scripts.Current.RegisterScript("plugins:select2-init", new Script()
    {
        Content = @"$(function(){
            $('.search-select').select2({
                placeholder: 'Select a State',
                allowClear: true
            });
        });"
    });
    Scripts.Current.RegisterScript("plugins:select2", new Script()
    {
        Src = Url.Asset("clip-one/plugins/select2/dist/js/select2.min.js")
    });
    Styles.Current.RegisterStyleLink("plugins:select2", new StyleLink() 
    {
        Href = Url.Asset("clip-one/plugins/select2/dist/css/select2.css")
    });
}
@functions
{
    IHtmlString Selected(bool isSelected)
    {
        return MvcHtmlString.Create(isSelected ? "selected=\"selected\"" : "");
    }
    
    
    string Dsisabled(bool enabled)
    {
        if (enabled)
        {
            return "";
        }
        return "disabled";
    }

}
<select id="@Model.Id" name="@Model.Name" class="form-control search-select" @Dsisabled(Model.Enabled)>
    @foreach (var item in Model.Items)
    {
        <option value="@item.Value" @Selected(item.Selected)>@item.Text</option>
    }
</select>

