@{
    Layout = "~/Views/Shared/Templates/layout_administration.cshtml";
}
@model Moonlit.Mvc.Templates.AdministrationSimpleListTemplate
@using (Html.BeginForm(
     "Index", Html.ViewContext.RouteData.GetRequiredString("controller"),
     FormMethod.Post,
     new { enctype = "multipart/form-data" }
     ))
{
    <div class="form-horizontal">
        @foreach (var criterion in Model.Criteria)
        {
            <div class="row">
                <div class="col-sm-@criterion.Width">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3" for="@criterion.FieldName">@criterion.Label</label>
                            <div class="col-sm-9">
                                @criterion.Editor.Render(Html)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="btn-group">
                @foreach (Moonlit.Mvc.Control button in Model.GlobalButtons)
                {
                    @button.Render(Html);
                }
            </div>
        </div>
        <div class="row">
            @Html.Partial("Pager", Model.GetPaginationInfo())
        </div>
        <div class="row">
            @Model.Table.Render(Model.GetData())
        </div>
        <div class="row">
            <div class="btn-group">
                @foreach (Moonlit.Mvc.Control button in Model.RecordButtons)
                {
                    @button.Render(Html);
                }
            </div>
        </div>
    </div>
}