@using Moonlit.Mvc
@model Moonlit.Mvc.Controls.SelectList
@{
    MoonlitContext.Current.RegisterScript("plugins:select2-init", new Script()
    {
        Content = @"$(function(){
            $('.search-select').select2({
                placeholder: 'Select a State',
                allowClear: true
            });
        });"
    });
    MoonlitContext.Current.RegisterScript("plugins:select2", new Script()
    {
        Src = Url.Content("~/assets/clip-one/plugins/select2/dist/js/select2.min.js")
    });
    MoonlitContext.Current.RegisterStyleLink("plugins:select2", new StyleLink() 
    {
        Href = Url.Content("~/assets/clip-one/plugins/select2/dist/css/select2.css")
    });
}
@functions
{
    IHtmlString Selected(bool isSelected)
    {
        return MvcHtmlString.Create(isSelected ? "selected" : "");
    }
}
<select id="@Model.Id" name="@Model.Name" class="form-control search-select">
    @foreach (var item in Model.Items)
    {
        <option value="@item.Value" @Selected(item.IsSelected)>@item.Text</option>
    }
</select>

