@model Moonlit.Mvc.Controls.PasswordBox
@{
    ViewBag.Title = "TextBox";
}


@if (string.IsNullOrWhiteSpace(Model.Icon))
{
    <input class="form-control password" type="text" name="@Model.Name" id="@Model.Id" @Model.RenderAttributes() />
}
else
{
    <span class="input-icon">
        <input class="form-control password" type="text" name="@Model.Name" id="@Model.Id" @Model.RenderAttributes() />
        <i class="fa fa-@Model.Icon"></i>
        @*        <a class="forgot" href="#">*@
        @*            I forgot my password*@
        @*        </a>*@
    </span>
}