@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Default/css/site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Default/js/site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</head>
<body id="@ViewBag.PageName">
    @RenderBody()
</body>
</html>
